/* html,body {
    scroll-behavior: smooth;
} */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; z-index: 900; 
    top: 0; left: 0; padding: 10px 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.40);
}
header h1 {height: 50px; width: 100px; filter: invert(100%);}
header h1 img {width: 100%;}
header .nav {
    display: flex; padding-right: 30px;
}
header .nav > li {
    width: 100px; text-align: center;
    position: relative; background-color: transparent;
}
header .nav > li > a {
    font-size: 18px; font-weight: 700;
    letter-spacing: -0.02em;
    display: block; width: 100%;
    color: #fff; background-color: transparent;
}
header .nav > li > .sub {
    width: 100%; position: absolute; 
    padding-top: 10px;
}
header .nav > li > .sub li {
    width: 100%;
}
header .nav > li > .sub li a {
    display: block; width: 100%;
    padding: 30px 0;
    font-weight: 700;color: #fff;
}
/* ul ============================================================================= */
#page1_aside {
    position: fixed;
    top: 46%; z-index: 999;
    right: 0%;
}
#page1_aside li {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 25px; 
    transition: all 0.8s ease;
    transform: translateX(73%);
}
#page1_aside li:hover {
    transform: translateX(10%);
}
#page1_aside li a {
    display: flex; 
    align-items: center;
}
#page1_aside li a span {
    font-weight: 700; color: #f7d219;
    background: #000;
    display: block; width: 150px;
    margin-left: 25px; padding: 5px 0 5px 15px;
    border-radius: 15px 0 0 15px;
}
#page1_aside li a img {width: 40px;}